services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: rawk_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  localstack:
    image: localstack/localstack:latest
    environment:
      SERVICES: s3,sqs
      DEBUG: 0
      DATA_DIR: /tmp/localstack/data
      AWS_ACCESS_KEY_ID: test
      AWS_SECRET_ACCESS_KEY: test
      AWS_DEFAULT_REGION: us-east-1
    ports:
      - "4566:4566"
    volumes:
      - localstack-data:/tmp/localstack

volumes:
  pgdata:
  localstack-data:
